@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icons/icomoon.eot?o800h6');
	src:url('../fonts/icons/icomoon.eot?o800h6#iefix') format('embedded-opentype'),
		url('../fonts/icons/icomoon.ttf?o800h6') format('truetype'),
		url('../fonts/icons/icomoon.woff?o800h6') format('woff'),
		url('../fonts/icons/icomoon.svg?o800h6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: .88rem;
    vertical-align: initial;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: .88rem;
	vertical-align: initial;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-gerenciar_filtros:before {
	content: "\e900";
}
.icon-google_play:before {
	content: "\e901";
}
.icon-menulateral_correio:before {
	content: "\e900";
}
.icon-menulateral_chamado {
    font-size: 1.1rem;
}
.icon-menulateral_chamado:before {
	content: "\e901";
}
.icon-menulateral_tarefas:before {
	content: "\e902";
}
.icon-menulateral_aprovacao:before {
	content: "\e903";
}
.icon-menulateral_crm:before {
	content: "\e904";
}
.icon-menulateral_projetos:before {
	content: "\e905";
}
.icon-menulateral_contratos:before {
	content: "\e906";
}
.icon-menulateral_solucoes:before {
	content: "\e907";
}
.icon-menulateral_agenda:before {
	content: "\e908";
}
.icon-menu:before {
	content: "\e909";
}
.icon-settings:before {
	content: "\e90a";
}
.icon-limpar:before {
	content: "\e90b";
}
.icon-lixeira:before {
	content: "\e90c";
}
.icon-relogio:before {
	content: "\e90d";
}
.icon-interoogacao:before {
	content: "\e90e";
}
.icon-abrir_fechar_filtro:before {
	content: "\e90f";
}
.icon-check:before {
	content: "\e910";
}
.icon-chev_up:before {
	content: "\e911";
}
.icon-chev_down:before {
	content: "\e912";
}
.icon-save:before {
	content: "\e913";
}
.icon-accordeon_menos {
	font-size: 3px;
	vertical-align: middle;
	margin-top: -3px;
	display: inline-block;
	&:before {
		content: "\e914";
	}
}
.icon-gerenciar_filtros:before {
	content: "\e915";
}
.icon-close:before {
	content: "\e916";
}
.icon-mais:before {
	content: "\e917";
}
.icon-notificacoes:before {
	content: "\e918";
}
.icon-breadcrum_home:before {
	content: "\e919";
}
.icon-search:before {
	content: "\e91a";
}
.icon-googleplay:before {
	content: "\e91b";
}
.icon-apple:before {
	content: "\e91c";
}
.icon-export:before {
	content: "\e91d";
}
