<div class="dropdown-combo js-dropdown-combo">
  <div class="dropdown-combo__trigger">
    <div class="form-component">
      <label class="input-checkbox" for="checkbox3">
        <input type="checkbox" name="check" id="checkbox3" />
        <span class="input-checkbox__token input-checkbox__token--switch"></span>
      </label>
    </div>
  </div>
  <div class="dropdown-combo__container">
    <form class="form">
      <div class="form-component">
        <label class="form-component__label" for="busca">
          <span class="assistive-text">Campo de busca</span>
        </label>
        <span class="form-component__icon-overlay" aria-hidden="true">
          <i class="icon-mais"></i>
        </span>
        <input type="text" name="busca" id="busca" class="input-text" placeholder="Email" />
      </div>
    </form>
  </div>
</div>
