<form class="form">
  <fieldset class="form-fieldset">
    <div class="form-group">
      <div class="form-component">
        <label class="input-checkbox" for="checkbox1">
          <input type="checkbox" name="check" id="checkbox1" checked />
          <span class="input-checkbox__token"></span>
          <span class="input-checkbox__label">Checkbox de exemplo 1</span>
        </label>
      </div>
      <div class="form-component">
        <label class="input-checkbox" for="checkbox2">
          <input type="checkbox" name="check" id="checkbox2" />
          <span class="input-checkbox__token"></span>
          <span class="input-checkbox__label">Checkbox de exemplo 2</span>
        </label>
      </div>
      <div class="form-component">
        <label class="input-checkbox" for="checkbox3">
          <input type="checkbox" name="check" id="checkbox3" />
          <span class="input-checkbox__token input-checkbox__token--switch"></span>
          <span class="input-checkbox__label">Checkbox de exemplo 3</span>
        </label>
      </div>
    </div>
  </fieldset>
  <fieldset class="form-fieldset">
    <div class="form-group form-group--inline">
      <div class="form-component">
        <label class="input-checkbox input-checkbox--attention" for="checkbox4">
          <input type="checkbox" name="check" id="checkbox4" />
          <span class="input-checkbox__token"></span>
        </label>
      </div>
      <div class="form-component">
        <label class="input-checkbox input-checkbox--danger" for="checkbox5">
          <input type="checkbox" name="check" id="checkbox5" />
          <span class="input-checkbox__token"></span>
        </label>
      </div>
      <div class="form-component">
        <label class="input-checkbox input-checkbox--success" for="checkbox6">
          <input type="checkbox" name="check" id="checkbox6" />
          <span class="input-checkbox__token"></span>
        </label>
      </div>
    </div>
  </fieldset>
</form>
