<form class="form">
  <div class="form-component">
    <label class="form-component__label" for="campoA">
      <h3 class="heading heading--small">Campo de texto 1</h3>
    </label>
    <input type="text" name="texto" id="campoA" class="input-text" placeholder="Insira aqui" />
  </div>
  <div class="form-component">
    <label class="form-component__label" for="campoB">
      <span class="assistive-text">
        Campo de texto!!!
      </span>
    </label>
    <input type="text" name="texto" id="campoB" class="input-text" placeholder="Campo de texto com label invisível" />
  </div>
</form>
