<form class="form">
  <div class="form-component">
    <label class="form-component__label" for="busca">
      <span class="assistive-text">Campo de busca</span>
    </label>
    <span class="form-component__icon-overlay" aria-hidden="true">
      <i class="icon-search"></i>
    </span>
    <input type="text" name="busca" id="busca" class="input-text" placeholder="Pesquisar" />
  </div>
</form>
