// ==========================================================================
// Settings
// ==========================================================================


$color-0: #638A9B;
$color-1: #C7D8E0;
$color-2: #93B1BE;
$color-3: #3F6D82;
$color-4: #215166;


$font-size-body: 16px;


$color-heading--primary: $color-2;
$color-heading--secondary: $color-3;


$color-body-text-primary: #555;
$color-body-text-secondary: #666;


$color-code-top-border: $color-0;


$color-main-header-heading: $color-3;
$color-main-header-background: $color-1;


$color-main-footer-text: $color-4;
$color-main-footer-background: $color-1;


$size-sidebar-right-border: 5px;
$color-sidebar-background: $color-0;
$color-sidebar-right-border: $color-4;

$color-sidebar-nodes-background: $color-2;
$color-sidebar-nodes-text: $color-3;

$color-sidebar-childnodes-background: $color-3;
$color-sidebar-childnodes-text: #f2f2f2;
