
.text-body {
    font-size: $font-size-text-body;
    margin: .5rem 0;
    color: $color-alternative;
}


.text-body__small {
    font-size: $font-size-smaller;
}


.text-body__large {
    font-size: $font-size-large;
}


.text-body__highlight {
    background-color: $color-main;
    color: $color-white;
    padding: 0 .2rem;
}


.text-body--large {
    font-size: $font-size-large;
}


.text-body--small {
    font-size: $font-size-smaller;
}
