// ==========================================================================
// Use .f-* when you need to overwrite and force an arbitrary behavior
// Use .h-* when you need a help to change behavior
// Use .is-* when you need to change state
// ==========================================================================


//
// Force float left or right
// ==========================================================================

.f-float-left {
  float: right;
}

.f-float-right {
  float: right;
}

.h-clearfix {
  overflow: hidden;
}

.h-blank-space {
    width: 1px;
    height: 1px;
}

//
// Truncate text
// ==========================================================================

.h-truncate {
  max-width: 100%;
  //overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


//
// Force hide an element
// ==========================================================================

.f-hide {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}


//
// Common states changes
// ==========================================================================

.is-gone { display: none; }

.is-here { display: block; }

.is-here--inline-block { display: inline-block; }

.is-hidden { visibility: hidden; }

.is-visible { visibility: visible; }

.is-active { opacity: 1; }

.is-inactive { opacity: .6; }
