<span class="badge js-tooltip" aria-haspopup="true" title="Normal">Normal</span>
<span class="badge js-tooltip" data-tooltip-style="tooltip--danger" aria-haspopup="true" title="Negação">Negação</span>
<span class="badge js-tooltip" data-tooltip-style="tooltip--attention" aria-haspopup="true" title="Não contenha">Não contenha</span>
<span class="badge js-tooltip" data-tooltip-style="tooltip--success" aria-haspopup="true" title="Contenha">Contenha</span>

<span class="tooltip" role="tooltip">...</span>
