<span class="avatar">
  <img src="http://placehold.it/60x60" alt="Foto do usuário">
</span>
<span class="avatar avatar--small">
  <img src="http://placehold.it/60x60" alt="Foto do usuário">
</span>
<span class="avatar avatar--large">
  <img src="http://placehold.it/60x60" alt="Foto do usuário">
</span>
