
<div class="accordion js-accordion" role="tablist" aria-multiselectable="true">
  <div class="accordion__item is-active">
    <div class="accordion__header accordion__header--chevron" title="Accordion 01" role="presentation">
      <a href="#" role="tab" aria-expanded="true" aria-controls="accordionContentOne">
        Accordion 01
      </a>
    </div>
    <div id="accordionContentOne" class="accordion__body" role="tabpanel">
      Conteúdo do accordion 01
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header accordion__header--chevron" title="Accordion 02" role="presentation">
      <a href="#" role="tab" aria-expanded="false" aria-controls="accordionContentTwo">
        Accordion 02
      </a>
    </div>
    <div id="accordionContentTwo" class="accordion__body" role="tabpanel">
      Conteúdo do accordion 02
    </div>
  </div>
  <div class="accordion__item">
    <div class="accordion__header accordion__header--chevron" title="Accordion 03" role="presentation">
      <a href="#" role="tab" aria-expanded="false" aria-controls="accordionContentThree">
        Accordion 03
      </a>
    </div>
    <div id="accordionContentThree" class="accordion__body" role="tabpanel">
      Conteúdo do accordion 03
    </div>
  </div>
</div>
