.agenda-selector {}

    .agenda-selector__container {
        input {
            max-width: 150px;
        }
    }

    .agenda-selector__list {
        height: 200px;
        overflow: hidden;
    }

    .agenda-selector__controlls {}
