// ==========================================================================
// Agenda
// ==========================================================================

.module-wrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

    .agenda__wrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }

    .agenda__header {
        width: 100%;
        display: flex;
        border-bottom: 1px solid $color-gray-light;
    }

    .agenda__header-label {
        float: left;
        width: 15%;
        min-width: 150px;
        text-align: right;
        padding: .5rem 1.5rem;
        border-right: 2px solid $color-gray-light;
        background-color: $color-gray-dark;
    }

    .agenda__month-list {
        float: right;
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        overflow: hidden;
        background-color: $color-white;
    }

    .agenda__month-item {
        display: inline-block;
        float: left;
        text-align: center;
        border: 1px solid $color-gray-light;
        border-top: 0;
        border-bottom: 0;
        width: 35px;
        padding: .5rem .3rem .3rem;
        flex-shrink: 0;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: 2px solid $color-gray-light;
            > span {
                width: 32px;
                margin: 0 -.3rem;
            }
        }

        &.is-pastDay {
            background-color: $color-gray-light;
            border-color: $color-gray-lighter;
            .agenda__month-weekday,
            .agenda__month-day {
                color: $color-gray-regular;
            }
        }

        &.is-weekend {
            background-color: $color-gray-light;
            border-color: $color-gray-lighter;
        }

        &.is-reserved {
            background-color: rgba($color-brand, .5);
        }

    }


    .agenda__month-weekday {
        display: block;
        font-size: .6rem;
        line-height: 1;
        font-weight: $font-semibold;
        text-transform: uppercase;
        color: $color-gray-dark;
    }


    .agenda__month-day {
        display: block;
        font-size: .9rem;
        line-height: 1;
        font-weight: $font-semibold;
        text-transform: uppercase;
        color: $color-primary;
    }


    .agenda__rooms-container {
        margin-top: .5rem;
        overflow-y: auto;
    }


    .agenda-label {
        border-top: 1px solid $color-primary;
        text-align: center;
        margin-top: .5rem;
        padding: 1rem;
    }


// ==========================================================================
// Rooms
// ==========================================================================


.rooms {
    @include resetList;
    //margin: .1rem 0 0;
}

.rooms__group-header {
    background-color: $color-gray-regular;
    width: 100%;
    overflow: hidden;
    margin-top: .2rem;
    > h2 {
        width: 15%;
        min-width: 150px;
        text-align: right;
        justify-content: flex-end;
        padding: .2rem 1.5rem .3rem;
    }
}

.rooms__list-container {
    margin: 0;
}

.rooms__list {
    @include resetList;
    border: 1px solid $color-gray-light;
    border-right: 0;
    border-left: 0;
}

.rooms__list-item {
    border: 1px solid $color-gray-light;
    border-right: 0;
    border-left: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.rooms__list-header {
    color: $color-primary;
    float: left;
    width: 15%;
    min-width: 150px;
    text-align: right;
    padding: .5rem 1.5rem;
    border-right: 2px solid $color-gray-light;
}

.rooms__list-days {
    float: right;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: $color-white;
}
