
.notify {
    border-left: .2rem solid $color-main;
    margin: .5rem 0;
    padding: .4rem .7rem;
    background-color: $color-theme-12;
    position: relative;
    color: $color-alternative;

    > .heading {
        color: $color-main;
    }
}

.notify__close {
    position: absolute;
    top: 0;
    right: 0;
}


.notify--danger {
    border-color: $color-danger;

    > .heading {
        color: $color-danger;
    }

    .notify__close {
        color: $color-danger;
    }
}


.notify--attention {
    border-color: $color-attention;

    > .heading {
        color: $color-attention;
    }

    .notify__close {
        color: $color-attention;
    }
}


.notify--info {
    border-color: $color-neutral;

    > .heading {
        color: $color-neutral;
    }

    .notify__close {
        color: $color-neutral;
    }
}


.notify--success {
    border-color: $color-success;

    > .heading {
        color: $color-success;
    }

    .notify__close {
        color: $color-success;
    }
}
