.sidebar {
    background-color: #D5E7ED;
    box-shadow: 0 2px 4px rgba($color-black, .2);

    display: inline-block;

    &.is-collapsed {
        width: 70px;
        .sidebar__item-label {
            display: none;
        }
    }

    + .sidebar {
        margin-left: 2rem;
    }
}


.sidebar__list {
    @include resetList;
}


.sidebar__item {
    position: relative;
    transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);

    &:hover,
    &.is-active {
        background-color: $color-white;
        &:before {
            content: "";
            display: block;
            height: calc(100% + 1px);
            width: .2rem;
            background-color: $color-main;
            position: absolute;
            top: -1px;
            left: 0;
        }
    }


    &:nth-child(1) .button { background-color: #f27934; }
    &:nth-child(2) .button { background-color: #d34a42; }
    &:nth-child(3) .button { background-color: #ffc30b; }

    &:nth-child(4) .button { background-color: #475678; }
    &:nth-child(5) .button { background-color: #50a9d1; }
    &:nth-child(6) .button { background-color: #f37934; }

    &:nth-child(7) .button { background-color: #d24942; }
    &:nth-child(8) .button { background-color: #ffc30b; }
    &:nth-child(9) .button { background-color: #475678; }

    &:nth-child(1).is-active:before, &:nth-child(1):hover:before { background-color: #f27934; }
    &:nth-child(2).is-active:before, &:nth-child(2):hover:before { background-color: #d34a42; }
    &:nth-child(3).is-active:before, &:nth-child(3):hover:before { background-color: #ffc30b; }

    &:nth-child(4).is-active:before, &:nth-child(4):hover:before { background-color: #475678; }
    &:nth-child(5).is-active:before, &:nth-child(5):hover:before { background-color: #50a9d1; }
    &:nth-child(6).is-active:before, &:nth-child(6):hover:before { background-color: #f37934; }

    &:nth-child(7).is-active:before, &:nth-child(7):hover:before { background-color: #d24942; }
    &:nth-child(8).is-active:before, &:nth-child(8):hover:before { background-color: #ffc30b; }
    &:nth-child(9).is-active:before, &:nth-child(9):hover:before { background-color: #475678; }
}


.sidebar__link {
    display: block;
    padding: .8rem 1.2rem;
    margin: 1px 0;
}


.sidebar__item-label {
    font-size: $font-size-smaller;
    color: $color-alternative;
    margin-left: .4rem;
}
