
.tabs {
    position: relative;transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
}


.tabs__nav {
    @include resetList;
    display: flex;
}


.tabs__nav-item {
    display: inline-block;
    border-top: 1px solid $color-theme-8;
    border-left: 1px solid $color-theme-8;
    position: relative;

    &:last-child {
        border-right: 1px solid $color-theme-8;
    }

    &:before {
        content: "";
        display: block;
        width: calc(100% + 2px);
        z-index: 10;
        height: .2rem;
        margin: -1px;
        background-color: $color-main;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        transition: all .4s cubic-bezier(0.2, 1, 0.3, 1);
    }

    a {
        color: $color-alternative;
        font-size: $font-size-small;
        display: block;
        padding: .6rem 1.2rem .45rem;
        outline: none;
    }

    &:hover,
    &.is-active {

        a {
            color: $color-main;
        }

        &:before {
            opacity: 1;
        }
    }

    &.is-active a {
        font-weight: $font-weight-bold;
    }
}


.tabs__content {
    padding: 1rem 1.2rem;
    border: 1px solid $color-theme-8;
    display: none;
    margin-top: -1px;
    &.is-visible {
        display: block;
    }
}
