.table {
    width: 100%;
    text-align: left;
}


thead {
    background-color: $color-main;
    font-size: $font-size-small;
    color: $color-white;
    border-bottom: 1px solid $color-main;
}

tbody {
    font-size: $font-size-smaller;
    font-weight: $font-weight-regular;
    color: $color-alternative;
}


tr.table__row {
    border-bottom: 1px solid $color-theme-8;
    &:hover {
        background-color:  $color-theme-12;
    }
}


th[role="row"] {
    font-weight: $font-weight-regular;
}

th,
td {
    padding: .5rem 1rem .4rem;
}
