<p class="text-body">Texto padrão: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis maxime numquam adipisci voluptates sunt corrupti atque repellat accusantium vero facere, veritatis provident officiis, sequi eos nesciunt perspiciatis ad, voluptate modi neque reprehenderit commodi. Dolorem laudantium, iusto doloribus similique quisquam, ducimus sapiente deleniti facilis voluptates cum quod alias possimus beatae aut eveniet aliquam. Amet iusto veniam labore deserunt obcaecati ducimus nostrum.</p>

<p class="text-body text-body--large">Texto maior: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum sit necessitatibus beatae sequi modi nesciunt dolor assumenda debitis nam fugit.</p>

<p class="text-body text-body--small">Texto menor: Lorem ipsum dolor sit amet, consectetur adipisicing elit. At incidunt, eos doloribus nam eveniet tempore esse fugiat impedit molestias voluptatem!</p>

<p class="text-body">Texto normal com formatação inline: <span class="text-body__small">Lorem</span> <span class="text-body__large">ipsum</span> dolor sit amet, <span class="text-body__highlight">consectetur</span> adipisicing elit. A error explicabo iure ratione minus, in reprehenderit nemo tempore commodi labore.</p>
